<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>🔥</title>
  </head>

  <body>
    <div id="wrapper">
      <header class="flex justify-between bg-neutral-200">
        <!-- left header -->
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <h1>Data</h1>
        </div>
        <!-- right header -->
        <div class="flex">
          <div id="searchBar">
            <form action="" method="get">
              <input type="text" placeholder="Search" />
              <button type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                  />
                </svg>
              </button>
            </form>
          </div>
          <div class="flex">
            <!-- darkmode toggle -->
            <div>
              <button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                  />
                </svg>
              </button>
            </div>
            <!-- github -->
            <a href="https://github.com/tjfehdgns1"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                /></svg
            ></a>
            <!-- login -->
            <button>Login</button>
          </div>
        </div>
      </header>
      <!-- body -->
      <div class="flex">
        <!-- sidebar -->
        <aside class="min-w-64 h-svh bg-neutral-300">
          <nav>
            <a href="#">post</a>
          </nav>
        </aside>
        <!-- center -->
        <div class="bg-neutral-50">
          <!-- main -->
          <main>
            <p class="mx-16">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              praesentium obcaecati, tempora perferendis cumque nesciunt
              doloribus deleniti, sed doloremque commodi aut impedit provident
              exercitationem atque cupiditate at asperiores numquam iure.
            </p>
            <!--todo need to add dynamic flex -->
            <div class="flex flex-wrap justify-center">
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
              <article
                class="mx-4 overflow-hidden transition rounded-lg shadow basis-1/4 hover:shadow-lg"
              >
                <img
                  alt="Office"
                  src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="object-cover w-full h-56"
                />

                <div class="p-4 bg-white sm:p-6">
                  <time
                    datetime="2022-10-10"
                    class="block text-xs text-gray-500"
                  >
                    10th Oct 2022
                  </time>

                  <a href="#">
                    <h3 class="mt-0.5 text-lg text-gray-900">
                      How to position your furniture for positivity
                    </h3>
                  </a>

                  <p class="mt-2 text-gray-500 line-clamp-3 text-sm/relaxed">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Recusandae dolores, possimus pariatur animi temporibus
                    nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                    quidem, mollitia itaque minus soluta, voluptates neque
                    explicabo tempora nisi culpa eius atque dignissimos.
                    Molestias explicabo corporis voluptatem?
                  </p>
                </div>
              </article>
            </div>
          </main>
          <!-- footer -->
          {% block footer %} {% endblock %}
        </div>
        <!-- secondary sidebar -->
        <aside class="min-w-64 h-svh bg-neutral-300">
          <nav>
            <a href="#">post</a>
          </nav>
        </aside>
      </div>
    </div>
  </body>
</html>
